
/* default laravel landing style*/
html, body {
    background-color: rgb(54, 70, 93);
    color: #696969;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-left {
	position: absolute;
	left: 10px;
	top: 18px;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.bottom-left {
	position: absolute;
	left: 10px;
	bottom: 18px;
}

.footer-bottom {
/*    position: absolute;
    right: 200px;
    bottom: 18px;*/
    padding: 0 0 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/*feed page*/
.std_text_color {
    color: #696969;
}

.main_nav {
    background-color: rgb(54, 70, 93);
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: rgb(255,255,255);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(200,200,200);
}

.secondary_nav_main .nav {
    background-color: white;
    width: 100%;
    border-radius: 4px;
    padding: 0
}

.secondary_nav_main ul {
    margin: 0;
}

.secondary_nav {
    text-align: center;
}

.glyphicon-font {
    color: #444;
}

.glyphicon-camera {
    color: #d95e40;
}

.glyphicon-facetime-video {
    color: #56bc8a;
}

.secondary_nav > a {
    color: #696969;
    padding: 0;
}

/*.secondary_nav > a:hover {
    background-color: rgb(50, 50, 50);
}*/

.secondary_nav > a > i {
    font-size: 30px;
    padding: 10px 20px;
}

.secondary_nav > a > p {
    margin-bottom: 0;
}

.user_avatar, .follow_avatar {
	width: 75px;
    border-radius: 4px;
}


.recommended_avatar, .reply_avatar, .comment_avatar {
    width: 50px;
    border-radius: 4px;
}

.requester_avatar {
    width: 100px;
    border-radius: 4px;
}

.thumbnail {
    background-color: #FFF;
}

/*single feed page*/

.thumbnail_nav {
    position: absolute;
    top: 11px;
    right: 31px; 
}

.comment_time, .reply_time {
    font-size: 0.65em;
    font-style: italic;
}

.comment_content, .reply_content {
    text-align: justify;
}

.requester_details {
    padding-top: 30px;
}

.recommended_details {
    padding-top: 15px;
}

/*upload page*/
.upload_div {
    margin: 50px 0;
}


/*login page*/
.login, .register {
	padding-top: 50px;
}

.login_panel .panel, .register_panel .panel {
    background-color: transparent;
    border: 0;
}

.white_text_color {
    color: white;
}




@media screen and (max-width: 360px) {

    .requester_details {
        padding-top: 0;
    }

/*    .content_middle {
        padding-top: 50px;
    }*/

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: rgb(200,200,200) ;
    }

}

@media screen and (min-width: 420px) {
    .content_middle {
        padding-top: 20px;
    }
}

@media screen and (min-width: 500px) {
    .content_middle {
        padding-top: 40px;
    }
}

@media screen and (min-width: 600px) {
    .content_middle {
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    /*.content_middle {
        padding-top: 75px;
    }*/
}

@media screen and (max-width: 992px) {
/*    .content_middle {
        padding-top: 5px;
    }*/
    .footer-bottom {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
  /*  .content_middle {
        padding-top: 40px;
    }*/
}