
/* default laravel landing style*/
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-left {
	position: absolute;
	left: 10px;
	top: 18px;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.bottom-left {
	position: absolute;
	left: 10px;
	bottom: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/*feed page*/
.secondary_nav {
    text-align: center;
}

.secondary_nav > a {
    color: black;
    padding: 0;
}

.secondary_nav > a > i {
    font-size: 30px;
    padding: 10px 20px;
}

.secondary_nav > a > p {
    margin-bottom: 0;
}

.user_avatar, .follow_avatar {
	width: 75px;
}

.recommended_avatar, .reply_avatar, .comment_avatar {
    width: 50px;
}

.requester_avatar {
    width: 100px;
}

.thumbnail {
    background-color: #FFF;
}

/*single feed page*/

.thumbnail_nav {
    position: absolute;
    top: 11px;
    right: 31px; 
}

.comment_time, .reply_time {
    font-size: 0.65em;
    font-style: italic;
}

.comment_content, .reply_content {
    text-align: justify;
}

.requester_details {
    padding-top: 30px;
}

.recommended_details {
    padding-top: 15px;
}

/*login page*/
.login, .register {
	padding-top: 50px;
}



@media screen and (max-width: 360px) {

    .requester_details {
        padding-top: 0;
    }

/*    .content_middle {
        padding-top: 50px;
    }*/
}

@media screen and (max-width: 640px) {
/*    .content_middle {
        padding-top: 20px;
    }*/
}

@media screen and (max-width: 768px) {
/*    .content_middle {
        padding-top: 75px;
    }*/
}

@media screen and (max-width: 992px) {
/*    .content_middle {
        padding-top: 5px;
    }*/
}

@media screen and (max-width: 1200px) {
/*    .content_middle {
        padding-top: 40px;
    }*/
}